body {
  background-color: lightpink;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  color: black;
  text-align: center;
  font-family: TimesNewRoman;
  font-size: 50px;
}
