body {
  background-color: #fddde6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  color: black;
  text-align: center;
  font-family: TimesNewRoman;
  font-size: 50px;
}

img {
  width: 50%;
  length: 50%;
  text-align: center;
}
